<div id="logo"> </div>

<div class="wrap">
<div id="welcome" style="margin-top:10px; text-align: center;">
	<div style="font-size:16px; text-align: center; width: 280px; " class="highlightedText">You're Done!</div>
</div>
<div class="title" style="margin: 7px 0 7px 0; text-align: center; width: 280px;">
	As a welcome gift,<br/> here's some <i>FREE</i> music!
</div>

<div class="trackListing" cmd="download/5B9359D6-73B2-4618-948D-1615DFBE3019">
	<img class="trackIcon" src="http://wpc.176f.edgecastcdn.net/00176F/ttr3/songs/5B9359D6-73B2-4618-948D-1615DFBE3019/artwork.png" width="49" height="49">
	<div class="trackTitle">
        Firework
	</div>
	<div class="trackArtist">
        Katy Perry
	</div>
	<div class="downloadPlay"></div>
	<div class="clear"> </div>
</div>
<div class="trackListing" cmd="download/4D851EAF-8A31-4D86-BE31-5BA9005BAE8D">
	<img class="trackIcon" src="http://wpc.176f.edgecastcdn.net/00176F/ttr3/songs/4D851EAF-8A31-4D86-BE31-5BA9005BAE8D/artwork.png" width="49" height="49">
	<div class="trackTitle">
        Alejandro
	</div>
	<div class="trackArtist">
        Lady Gaga
	</div>
	<div class="downloadPlay"></div>
	<div class="clear"> </div>
</div>
<div class="trackListing" cmd="download/E5E1AB18-1C86-451A-AD34-B2C4D1278A50">
	<img class="trackIcon" src="http://wpc.176f.edgecastcdn.net/00176F/ttr3/songs/E5E1AB18-1C86-451A-AD34-B2C4D1278A50/artwork.png" width="49" height="49">
	<div class="trackTitle">
		New Divide
	</div>
	<div class="trackArtist">
		Linkin Park
	</div>
	<div class="downloadPlay"></div>
	<div class="clear"> </div>
</div>
<div class="skip" style="text-align: right; text-decoration: underline; margin-bottom: 10px; color: white; margin-right: 40px; margin-top: 20px;" tref="home#home"> Skip </div>
</div> 

<style>

.wrap {
	width: 320px;
}

#tracksList {
	height: 275px;
	overflow: hidden;
}

.thumb {
	background-color: rgba(0,0,0,0.2);
	-webkit-background-size: 40px;
	 width: 40px;
	 height: 40px;
	 -webkit-border-radius: 4px;
	 float: left;
	 margin-right: 9px;
}

.title {
	font-weight: bold;
	font-size: 17px;
	color: #fff;
	text-shadow: 0px -1px 0px #000;
}

.subtitle {
	font-size: 15px;
	color: #bbb;
	font-weight: bold !important;
	text-shadow: 0px -1px 0px rgba(0,0,0,0.7);
}

.intermediate_list {
	margin: 8px 4px;
	padding: 0;
	width: 290px;
}
.intermediate_list li {
	padding: 6px 8px;
	background-color: rgba(71%,76%,87%,0.1);
	font-weight: bold;
	text-shadow: 0px -1px 0px #000;
}
.intermediate_list li.question {
	background-color:rgba(110,148,194,0.2);
	
	padding: 3px 8px;
}

li {
	list-style-type: none;
	margin: 0px;
	padding: 5px 10px;
	border-bottom: 1px solid rgba(0,0,0,0.8);
	border-top: 1px solid rgba(255,255,255,0.3);
	background-position: center right;
	background-repeat: no-repeat;
}

.intermediate_list li:first-child {
	border-top: none;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;	
}
li:last-child {
	border-bottom: none;
}
.intermediate_list li:last-child {
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
}

.downloadPlay {
	background-image: url(/images/ttr/ttr4cmd/register/downloadPlay.png);
	width: 81px;
	height: 42px;
	-webkit-background-size: 81px 42px; /* fix #413 */
	float: right;
	margin: 12px 6px 0 0;
}

.trackListing {
  margin-bottom: 10px;
  position: relative;
  background-color: black;
  border-radius: 10px;
  width: 280px;
  height: 64px;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(0, 0, 0)), color-stop(100%, rgb(38, 38, 38)));
}

.trackIcon {
  padding: 8px;
}

.trackTitle {
    position: absolute;
    top: 12px;
    left: 68px;
    font-size: 14px;
    font-weight: bold;
}

.trackArtist {
    position: absolute;
    top: 36px;
    left: 68px;
    font-size: 13px;
    color: #666666;
}

.trackListingStroke {
    position: absolute;
    top: 216px;
    left: 18px;
    width: 284px;
    height: 68px;
    border-radius: 12px;
    background-color: black;
}

</style>

