<html>
	<head>
		<title>Latest Scores</title>
		<script src="/socket.io/socket.io.js"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

		<script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://getbootstrap.com/dist/css/bootstrap.min.css">

		<link href="https://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
	</head>
	<body>

		<script>
			var socket = io.connect('http://localhost:3000');
			socket.on('newScore', function (data) {
				//console.log(data);
				$('tbody').append('<tr><td>' + data.accuracy + '</td><td>' + data.level + '</td><td>' + data.score + '</td><td>' + data.total_misses + '</td><td>' + (data.total_misses + data.total_hit) + '</td><td>' + data.best_streak + '</td><td>' + data.is_complete + '</td><td>' + data.track_id + '</td></tr>');
			});
		</script>

		<nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
			<a class="navbar-brand" href="#">Lazarus</a>
		</nav>

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-9 offset-sm-3 col-md-12 offset-md-2 main">
					<h2>Latest Scores</h2>
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>accuracy</th>
									<th>level</th>
									<th>score</th>
									<th>missed</th>
									<th>total</th>
									<th>streak</th>
									<th>complete</th>
									<th>song</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
